# Binaries
dist/
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Build
go.sum
*.lpk
